@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }
*,*:after,*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.clearfix:before,.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after { clear: both;}
.clearfix {    *zoom: 1;}
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background-image: url(https://goo.gl/XZ7Kr7);
  background-position: center;
  background-size: cover;
  font-weight: 400;
  font-size: 15px;
  color: #333;
}

section {
	width: 100%;
	height: 100%;
	position: relative;
}
section, .main {
  border-radius: 8px;
	padding: 0 5px 50px 5px;
	width: 100%;
	margin: 0 auto;
  max-width: 660px;
}
.fc-calendar-container {
	position: relative;
	height: 400px;
	width: 400px;
}
.fc-calendar {
	width: 100%;
	height: 100%;
}
.fc-calendar .fc-head {
	height: 30px;
	line-height: 30px;
	background: #ccc;
	color: #fff;
}
.fc-calendar .fc-body {
	position: relative;
	width: 100%;
	height: 100%;
	height: -moz-calc(100% - 15px);
	height: -webkit-calc(100% - 15px);
	height: calc(100% - 15px);
	border: 1px solid #ddd;
}
.calendar__grid {
    width: 100%;
    height:100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
    .date{
        font-size: 1.2rem;
        color: #686a6e;
        width:100%;
    }

    &> div:empty {
        background: transparent;
        cursor: default;
    }

    &>div {
        justify-content: center;
        align-items: center;
        background: #fff;
        border: 1px solid #ddd;

        &:nth-child(7n) {
            color: dodgerblue;
        }

        &:nth-child(7n + 1) {
            color: rgb(238, 105, 127);
        }
    }
    .picture{
        margin:auto;
        width: 90%;
		height:90%;
		overflow: hidden;
		
        img{
			width:100%;
			border-radius: 30%;
			cursor: pointer;
			object-fit: cover;
        }
    }
    
}

.fc-calendar .fc-row > div, .fc-calendar .fc-head > div {
	float: left;
	height: 100%;
	width:  14.28%; /* 100% / 7 */
	width: -moz-calc(100%/7);
	width: -webkit-calc(100%/7);
	width: calc(100%/7);
	position: relative;
}
.ie9 .fc-calendar .fc-row > div, .ie9 .fc-calendar .fc-head > div {
	width:  14.2%;
}

.fc-calendar .fc-head > div {
	text-align: center;
}

.custom-calendar-wrap {
	margin: 10px auto;
	position: relative;
	overflow: hidden;
}
.custom-inner {
	background: #fff;
  border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  overflow: hidden;
}
.custom-inner:before,.custom-inner:after  {
	content: '';
	width: 99%;
	height: 50%;
	position: absolute;
	background: #f6f6f6;
	bottom: -4px;
	left: 0.5%;
	z-index: -1;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.custom-inner:after {
	content: '';
	width: 98%;
	bottom: -7px;
	left: 1%;
	z-index: -2;
}
.custom-header {
	background: #179a2d;
	padding: 5px 10px 10px 20px;
	height: 70px;
	position: relative;
	border-top: 5px solid #179a2d;
	border-bottom: 1px solid #ddd;
}
.custom-header h2,.custom-header h3 {
	text-align: center;
	text-transform: uppercase;
}
.custom-header h2 {
	color: #FFF;
	font-weight: 700;
	font-size: 1.6rem;
	margin-top: 5px;
	margin-bottom: 3px;
}
.custom-header h3 {
	font-size: 1rem;
	font-weight: 700;
	color: #FFF;
}
.custom-header nav span {
	position: absolute;
	top: 17px;
	width: 30px;
	height: 30px;
	color: transparent;
	cursor: pointer;
	margin: 0 1px;
	font-size: 20px;
	line-height: 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.custom-header nav span:first-child {	left: 5px;}
.custom-header nav span:last-child {	right: 5px;}
.custom-header nav span:before {
	font-family: 'fontawesome-selected';
	color: #FFF;
	position: absolute;
	text-align: center;
	width: 100%;
}
.custom-header nav span.custom-prev:before {	content: '\25c2';}
.custom-header nav span.custom-next:before {	content: '\25b8';}
.custom-header nav span:hover:before {	color: #495468;}


/* Modifications */
.fc-calendar-container {
	height: 580px;
	width: auto;
	padding: 30px;
	background: #f6f6f6;
	box-shadow: inset 0 1px rgba(255,255,255,0.8);
}
.fc-calendar .fc-head {
	background: transparent;
	color: #179a2d;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1rem;
}
.fc-calendar .fc-row > div {
	background: #fff;
	cursor: pointer;
}
.fc-calendar .fc-row > div:empty {
	background: transparent;
}
.fc-calendar .fc-row > div > span.fc-date {
	top: 50%;
	left: 50%;
	text-align: center;
	margin: -10px 0 0 -15px;
	color: #686a6e;
	font-weight: 400;
	pointer-events: none;
}
.fc-calendar .fc-row > div.fc-today {
	background: #ef4f69;
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.1);
}
.fc-calendar .fc-row > div.fc-today > span.fc-date {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.fc-calendar .fc-row > div.fc-content:after {
	content: '\00B7';
	text-align: center;
	width: 20px;
	margin-left: -10px;
	position: absolute;
	color: #DDD;
	font-size: 70px;
	line-height: 20px;
	left: 50%;
	bottom: 3px;
}
.fc-calendar .fc-row > div.fc-today.fc-content:after {	color: #b02c42;}
.fc-calendar .fc-row > div.fc-content:hover:after{	color: #ef4f69;}
.fc-calendar .fc-row > div.fc-today.fc-content:hover:after{	color: #fff;}
.fc-calendar .fc-row > div > div a, .fc-calendar .fc-row > div > div span {
	display: none;
	font-size: 22px;
}
@media screen and (max-width: 400px) {
	.fc-calendar-container {		height: 300px;	}
	.fc-calendar .fc-row > div > span.fc-date {		font-size: 15px;	}
}
