/* 일기 저장하기 버튼 */

#btn-download {
  cursor: pointer;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 35px);
  svg {
    margin: 16px 0 0 16px;
    fill: none;
    transform: translate3d(0, 0, 0);
    polyline {
      // stroke: #0077FF;
      stroke: #000000;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      transition: all .3s ease;
      transition-delay: .3s;
    }
    path {
      // stroke: #0077FF;
      stroke: #000000;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      transition: all .3s ease;
      transition-delay: .3s;
    }
    path#check {
      stroke-dasharray: 38;
      stroke-dashoffset: 114;
      transition: all .4s ease;
    }
  }
  /* 마우스 호버시 툴팁 보이게 */
  &:hover {
    background: rgba(34, 50, 84, 0.05);
    span {
      opacity: 1;
      visibility: visible;
      color: white;
      transform: translate(-50%, 0);
    }
  }
  span {
    position: absolute;
    left: 50%;
    bottom: 100%;
    opacity: 0;
    visibility: hidden;
    // margin-bottom: 1em;
    background-color: #000;
    font-size: 0.8em;
    line-height: 1.6;
    text-align: left;
    white-space: nowrap;
    transform: translate(-50%, 1em);
    transition: all 0.15s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border: 0.5em solid transparent;
      border-top-color: #000;
      transform: translate(-50%, 0);
    }
  }
}
#btn-download.downloaded {
  svg {
    .svg-out {
      opacity: 0;
      animation: drop .3s linear;
      transition-delay: .4s;
    }
    path#check {
      stroke: #20CCA5;
      stroke-dashoffset: 174;
      transition-delay: .4s;
    }
  }
}

/* 모달창 띄우기 버튼 */

#btn-send {
  cursor: pointer;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: calc(50% - 23px);
  left: calc(50% - 66px);
  svg {
    margin: 13px 0 0 8px;
    fill: #000000;
    // fill: none;
    transform: translate3d(0, 0, 0);
    polyline {
      // stroke: #0077FF;
      stroke: #000000;
      stroke-width: 15;
      stroke-linecap: round;
      stroke-linejoin: round;
      transition: all .3s ease;
      transition-delay: .3s;
    }
    path {
      // stroke: #0077FF;
      stroke: #000000;
      stroke-width: 15;
      stroke-linecap: round;
      stroke-linejoin: round;
      transition: all .3s ease;
      transition-delay: .3s;
    }
    path#check {
      stroke-dasharray: 38;
      stroke-dashoffset: 114;
      transition: all .4s ease;
    }
  }
  /* 툴팁 */
  &:hover {
    background: rgba(34, 50, 84, 0.05);
    span {
      opacity: 1;
      visibility: visible;
      color: white;
      transform: translate(-50%, 0);
    }
  }
  span {
    position: absolute;
    left: 50%;
    bottom: 100%;
    opacity: 0;
    visibility: hidden;
    // margin-bottom: 1em;
    // padding: 1em;
    background-color: #000;
    font-size: 0.8em;
    line-height: 1.6;
    text-align: left;
    white-space: nowrap;
    transform: translate(-50%, 1em);
    transition: all 0.15s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border: 0.5em solid transparent;
      border-top-color: #000;
      transform: translate(-50%, 0);
    }
  }
}
#btn-send.downloaded {
  svg {
    .svg-out {
      opacity: 0;
      animation: drop .3s linear;
      transition-delay: .4s;
    }
    path#check {
      stroke: #20CCA5;
      stroke-dashoffset: 174;
      transition-delay: .4s;
    }
  }
}


@keyframes drop {
  20% {
    transform: translate(0, -3px);
  }
  
  80% {
    transform: translate(0, 2px);
  }
  
  95% {
    transform: translate(0, 0);
  }
}

.credit {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: all .2s ease;
  -webkit-user-select: none;
  user-select: none;
  opacity: .6;
  img {
    width: 72px;
  }
  &:hover {
    transform: scale(0.95);
  }
}

/* 그림 그리기 모드 버튼 */

.btn-drawing {
  cursor: pointer;
  display: block;
  width: 91px;
  // height: 48px;
  // border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 130px);
}


#switch{
  // top: 50%;
  // left: 50%;
  width: 60px;
  height: 24px;
  &:hover {
    span {
      opacity: 1;
      visibility: visible;
      color: white;
      transform: translate(-50%, 0);
    }
  }
  span {
    position: absolute;
    left: 50%;
    bottom: 100%;
    opacity: 0;
    visibility: hidden;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #000;
    font-size: .8em;
    line-height: 1.6;
    text-align: left;
    white-space: nowrap;
    transform: translate(-50%, 1em);
    transition: all .15s ease-in-out;
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border: .5em solid transparent;
      border-top-color: #000;
      transform: translate(-50%, 0);
    }
  }
}

.toggle{
  position: absolute;
  border: 2px solid #444249;
  border-radius: 20px;
  -webkit-transition: border-color .6s  ease-out;
  transition: border-color .6s  ease-out;
  box-sizing: border-box;
}

.toggle.toggle-on{
  border-color: rgba(137, 194, 217, .4);
  -webkit-transition: all .5s .15s ease-out;
  transition: all .5s .15s ease-out;
}

.toggle-button{
  position: absolute;
  top: 4px;
  width: 14px;
  bottom: 4px;
  right: 37px;
  background-color: #444249;
  border-radius: 19px;
  cursor: pointer;
  -webkit-transition: all .3s .1s, width .1s, top .1s, bottom .1s;
  transition: all .3s .1s, width .1s, top .1s, bottom .1s;
}

.toggle-on .toggle-button{
  top: 3px;
  width: 49px;
  bottom: 3px;
  right: 3px;
  border-radius: 23px;
  background-color: #89c2da;
  box-shadow: 0 0 16px #4b7a8d;
  -webkit-transition: all .2s .1s, right .1s;
  transition: all .2s .1s, right .1s;
}

.toggle-text-on{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // line-height: 36px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  // font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  color: rgba(0,0,0,0);
}

.toggle-on .toggle-text-on{
  color: #3b6a7d;
  -webkit-transition: color .3s .15s ;
  transition: color .3s .15s ;
}

.toggle-text-off{
  position: absolute;
  top: 3px;
  bottom: 0;
  right: 6px;
  // line-height: 36px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  cursor: pointer;

  color: #444249;
}

.toggle-on .toggle-text-off{
  color: rgba(0,0,0,0);
}

/* used for streak effect */
.glow-comp{
  position: absolute;
  opacity: 0;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border-radius: 6px;
  background-color: rgba(75, 122, 141, .1);
  box-shadow: 0 0 12px rgba(75, 122, 141, .2);
  -webkit-transition: opacity 4.5s 1s;
  transition: opacity 4.5s 1s;
}

.toggle-on .glow-comp{
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}