.writing {
    width: 92%;
    height: 95%;
    margin: 4%;
    display: flex;
    flex-direction: column;
    z-index: 11;
  }
  
  .writing__day-info {
    width: 100%;
    height: 10%;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    .day-info__date {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .day-info__weather {
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      svg {
        width: 30px;
        height: 30px;
        fill: rgba(0, 0, 0, 0.3);
        // cursor: pointer;
        transition: 0.2s ease-in-out;
      }
      svg:hover, svg.selected{
        &.weather__icon-sunny {
          fill: rgb(255, 71, 26);
        }
        &.weather__icon-cloudy {
          fill: rgb(51, 156, 95);
        }
        &.weather__icon-rainy {
          fill: rgb(0, 64, 255);
        }
        &.weather__icon-thunder {
          fill: rgb(255, 219, 77);
        }
      }
      svg:active{
          opacity: 0.5;
      }
    }
  }
  
  .writing__drawing {
    width: 100%;
    height: 50%;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-top: none;
  }
  
  .writing__font-selector {
    width: 100%;
    height: 5%;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    display:flex;
    align-items: center;
    span{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0px 20px;
      border-right: 3px solid rgba(0,0,0,0.3);
      font-weight: 100;
    }
    .font-selector__font-list{
      display: flex;
      align-items: center;
      button{
        border: none;
        background-color:rgba(0,0,0,0);
        font-size: 1.5rem;
        outline: none;
        margin: 5px;
        color: rgba(0, 0, 0, 0.4);
        font-weight: bold;
        transition: 0.2s ease-in-out;
        &.selected, &:hover{
          color: black;
        }
      }
    }
  }


  
  .writing__grid {
    width: 100%;
    height: 35%;
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: rgba(0, 0, 0, 0.3);
    border: 3px solid rgba(0, 0, 0, 0.05);
    border-top: none;
    z-index: 15;
    .cell {
      background-color: white;
      z-index: 10;
    }
  }

  .grid__content{
      position: absolute;
      width: 95%;
      height: 40%;
      background-color: rgba(0, 0, 0, 0);
      font-size: 2.5rem;
      padding-left: 8px;
      letter-spacing: 21.1px;
      line-height: 43px;
      z-index: 20;
      word-break: break-all;
      resize:none;
      border: none;
      outline: none;
      overflow: clip;
  }

  [contenteditable]{
      outline: 0px solid transparent;
  }

/* 감정분석 후 애니메이션 */
.pulse-loader-sunny:not(:required) {
  display: inline-block;
  position: absolute;
  right: 147px;
  width: 50px;
  height: 50px;
  z-index: -100;
  -moz-animation: pulse-loader-sunny 0.7s linear infinite alternate;
  -webkit-animation: pulse-loader-sunny 0.7s linear infinite alternate;
  animation: pulse-loader-sunny 0.7s linear infinite alternate;
  border: 2px solid #f73939;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  text-indent: 50px;
}

@-moz-keyframes pulse-loader-sunny {
  0% {
    -moz-box-shadow: #f73939 0 0 0px 20px;
    box-shadow: #f73939 0 0 0px 20px;
  }
  40% {
    -moz-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -moz-box-shadow: #f73939 0 0 0px 25px inset;
    box-shadow: #f73939 0 0 0px 25px inset;
  }
}
@-webkit-keyframes pulse-loader-sunny {
  0% {
    -webkit-box-shadow: #f73939 0 0 0px 20px;
    box-shadow: #f73939 0 0 0px 20px;
  }
  40% {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -webkit-box-shadow: #f73939 0 0 0px 25px inset;
    box-shadow: #f73939 0 0 0px 25px inset;
  }
}
@keyframes pulse-loader-sunny {
  0% {
    -moz-box-shadow: #f73939 0 0 0px 20px;
    -webkit-box-shadow: #f73939 0 0 0px 20px;
    box-shadow: #f73939 0 0 0px 20px;
  }
  40% {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -moz-box-shadow: #f73939 0 0 0px 25px inset;
    -webkit-box-shadow: #f73939 0 0 0px 25px inset;
    box-shadow: #f73939 0 0 0px 25px inset;
  }
}
.pulse-loader-cloudy:not(:required) {
  display: inline-block;
  position: absolute;
  right: 103px;
  width: 50px;
  height: 50px;
  z-index: -100;
  -moz-animation: pulse-loader-cloudy 0.7s linear infinite alternate;
  -webkit-animation: pulse-loader-cloudy 0.7s linear infinite alternate;
  animation: pulse-loader-cloudy 0.7s linear infinite alternate;
  // border: 2px solid #0721b3;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  text-indent: 50px;
}

@-moz-keyframes pulse-loader-cloudy {
  0% {
    -moz-box-shadow: #011cb8 0 0 0px 20px;
    box-shadow: #011cb8 0 0 0px 20px;
  }
  40% {
    -moz-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -moz-box-shadow: #011cb8 0 0 0px 25px inset;
    box-shadow: #011cb8 0 0 0px 25px inset;
  }
}
@-webkit-keyframes pulse-loader-cloudy {
  0% {
    -webkit-box-shadow: #011cb8 0 0 0px 20px;
    box-shadow: #011cb8 0 0 0px 20px;
  }
  40% {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -webkit-box-shadow: #011cb8 0 0 0px 25px inset;
    box-shadow: #011cb8 0 0 0px 25px inset;
  }
}
@keyframes pulse-loader-cloudy {
  0% {
    -moz-box-shadow: #011cb8 0 0 0px 20px;
    -webkit-box-shadow: #011cb8 0 0 0px 20px;
    box-shadow: #011cb8 0 0 0px 20px;
  }
  40% {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -moz-box-shadow: #011cb8 0 0 0px 25px inset;
    -webkit-box-shadow: #011cb8 0 0 0px 25px inset;
    box-shadow: #011cb8 0 0 0px 25px inset;
  }
}
.pulse-loader-rainy:not(:required) {
  display: inline-block;
  position: absolute;
  right: 55px;
  width: 50px;
  height: 50px;
  // z-index: -100;
  -moz-animation: pulse-loader-rainy 0.7s linear infinite alternate;
  -webkit-animation: pulse-loader-rainy 0.7s linear infinite alternate;
  animation: pulse-loader-rainy 0.7s linear infinite alternate;
  border: 2px solid #ffe70c;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  text-indent: 50px;
}

@-moz-keyframes pulse-loader-rainy {
  0% {
    -moz-box-shadow: #ffe70c 0 0 0px 20px;
    box-shadow: #ffe70c 0 0 0px 20px;
  }
  40% {
    -moz-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -moz-box-shadow: #ffe70c 0 0 0px 25px inset;
    box-shadow: #ffe70c 0 0 0px 25px inset;
  }
}
@-webkit-keyframes pulse-loader-rainy {
  0% {
    -webkit-box-shadow: #ffe70c 0 0 0px 20px;
    box-shadow: #ffe70c 0 0 0px 20px;
  }
  40% {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -webkit-box-shadow: #ffe70c 0 0 0px 25px inset;
    box-shadow: #ffe70c 0 0 0px 25px inset;
  }
}
@keyframes pulse-loader-rainy {
  0% {
    -moz-box-shadow: #ffe70c 0 0 0px 20px;
    -webkit-box-shadow: #ffe70c 0 0 0px 20px;
    box-shadow: #ffe70c 0 0 0px 20px;
  }
  40% {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -moz-box-shadow: #ffe70c 0 0 0px 25px inset;
    -webkit-box-shadow: #ffe70c 0 0 0px 25px inset;
    box-shadow: #ffe70c 0 0 0px 25px inset;
  }
}
.pulse-loader-snowy:not(:required) {
  display: inline-block;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  // z-index: -100;
  -moz-animation: pulse-loader-snowy 0.7s linear infinite alternate;
  -webkit-animation: pulse-loader-snowy 0.7s linear infinite alternate;
  animation: pulse-loader-snowy 0.7s linear infinite alternate;
  border: 2px solid #1dcc1d;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  text-indent: 50px;
}

@-moz-keyframes pulse-loader-snowy {
  0% {
    -moz-box-shadow: #1dcc1d 0 0 0px 20px;
    box-shadow: #1dcc1d 0 0 0px 20px;
  }
  40% {
    -moz-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -moz-box-shadow: #1dcc1d 0 0 0px 25px inset;
    box-shadow: #1dcc1d 0 0 0px 25px inset;
  }
}
@-webkit-keyframes pulse-loader-snowy {
  0% {
    -webkit-box-shadow: #1dcc1d 0 0 0px 20px;
    box-shadow: #1dcc1d 0 0 0px 20px;
  }
  40% {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -webkit-box-shadow: #1dcc1d 0 0 0px 25px inset;
    box-shadow: #1dcc1d 0 0 0px 25px inset;
  }
}
@keyframes pulse-loader-snowy {
  0% {
    -moz-box-shadow: #1dcc1d 0 0 0px 20px;
    -webkit-box-shadow: #1dcc1d 0 0 0px 20px;
    box-shadow: #1dcc1d 0 0 0px 20px;
  }
  40% {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  100% {
    -moz-box-shadow: #1dcc1d 0 0 0px 25px inset;
    -webkit-box-shadow: #1dcc1d 0 0 0px 25px inset;
    box-shadow: #1dcc1d 0 0 0px 25px inset;
  }
}
.row {
  margin-top: 50px;
}
body,html {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

.col-sm-2 {
  height: 100px;
}